# Ignore environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/
*.tar.gz
*.zip

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environment directories
venv/
.venv/

# Pyenv files
.python-version

# Unit test / coverage reports
.coverage
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Ignore IDE-specific files
.vscode/
.idea/
*.swp
*.swo

# Ignore any logs or temp files
*.log
*.tmp

# Ignore OpenAI API keys or any other sensitive information
Codeanalyzer/src/.env
